body{
    margin: 0;
    padding: 0;
}

.tab_area{
    max-width: 700px;
    margin: 0 auto;
}
#tabs {

    width:100%;
    height: 30px;
    border-bottom: solid 1px #CCC;
    padding-right: 2px;
    margin-top: 30px;


}

a {
    cursor: pointer;
}

#tabs li {
    float: left;
    list-style: none;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin-right: 5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    outline: none;
}

#tabs li a {

    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: bold;
    color:green;
    padding-top: 5px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 8px;
    display: block;
    background: #FFF;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-decoration: none;
    outline: none;

}

.active{
    display: block !important;
}

.hide{
    display: none;
}

#tabs li a.active{
    color: red;
}

#tabs li a.disable {
    padding-top: 5px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    color: #666666;
    background: #EEE;
    outline: none;
    border-bottom: solid 1px #CCC;

}

#tabs li a:hover,
#tabs li a.disable:hover {


    color: #5685bc;
    outline: none;
}

.main {
    clear: both;
    width: 100%;
    border-left: solid 1px #CCC;
    border-right: solid 1px #CCC;
    border-bottom: solid 1px #CCC;
    text-align: left;
    padding-top: 20px;
    padding: 20px;

}

.main h2 {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    color: #5685bc;
}

.main p {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.3;
    font-size: small;
}

.main ul {
    margin-left: 25px;
    font-size: small;
    line-height: 1.4;
    list-style-type: disc;
}

.main li {
    padding-bottom: 5px;
    margin-left: 5px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}